html,
body {
  font-family: 'Noto Sans TC';
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #666666;
  height: 100%;
}


header {
  /* outline: 3px red solid; */
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
  height: 54px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  margin: 0 auto;
  width: 1200px;

}

.top-title {
  font-weight: bold;
  font-size: 19px;
}

h2 {
  font-weight: bold;
  color: #448899;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  cursor: pointer;
}

.item-section {
  display: flex;
  align-items: center;
}

.item {
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
  padding: 10px;
  cursor: pointer;
}


.no-schedule {
  margin-top: 25px;
}

.thank-top {
  margin-top: 20px;
  white-space: pre-wrap;
  font-weight: bold;
}

.thank-middle,
.thank-bottom {
  margin-top: 20px;
}

.footer {

  width: 100%;
  height: 170px;
  background-color: #757575;
  margin: 0 auto;
  margin-top: 40px;
  color: #FFFFFF;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 165px 0 #757575;
}

.footer-description {
  position: relative;

  bottom: -100px;
  color: #000;
  z-index: 9999;
}

.container {
  margin: 0 auto;
  display: flex;
 
  width: 1100PX;

}

.member-left {
  margin-top: 35px;
  margin-right: 20px;

}

.left-bar {
  padding: 15px 0;
  border-bottom: 1px solid #aabbcc;
}

.left-info {
  margin-top: 50px;
}

.left-bar-username {
  color: #000;
  font-weight: bold;
  margin-bottom: 5px;
}

.left-bar-edit {
  display: flex;
  align-items: center;
  gap: 10px;

}

.info-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.member-right {
  margin-top: 35px;
  padding: 15px;

  width: 80%;
  background-color: #f8f8f8
}

.right-bar {

  padding-bottom: 15px;
  border-bottom: 1px solid #aabbcc;
}

.info-right-body {

  display: flex;

  margin-top: 50px;

}

.body-left {

  width: 70%;
}

.body-right {

  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgba(102, 102, 102, 0.2);
}

.username-item,
.email-item,
.phone-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 10px;
}

.buttom-edit-item {
  padding-left: calc(20% + 10px);
}

.username,
.email,
.phone {
  width: 20%;
  text-align: right;
}

.avatar {
  background-image: url(/picture/user.png);
  height: 100px;
  width: 100px;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.avatar-upload-input {
  display: none;
}

.avatar-upload-button {
  color: #666666;
  border: 1px solid #66aabb;
  outline: none;
  border-radius: 5px;
  width: 75px;
  height: 30px;
  cursor: pointer;
}

.avatar-upload-button:hover {
  background: #66aabb;
  color: #fff
}

.avatar-max,
.avatar-file {
  font-size: 14px;
}

.info-edit-btn,
.pwd-edit-btn {
  cursor: pointer;
  color: #666666;
  border: 1px solid #66aabb;
  outline: none;
  border-radius: 5px;
  width: 60px;
  height: 30px;
  padding: 0;
}

.info-edit-btn:hover,
.pwd-edit-btn:hover {
  background: #66aabb;
  color: #fff
}

/* 修改密碼部分 */
.pwd-right-body {
  display: none;
  margin-top: 50px;
}

.pwd-item {
  margin-bottom: 20px;
}

.old-pwd-item,
.new-pwd-item,
.repeat-pwd-item {
  display: flex;
  gap: 20px;
}

.old-pwd,
.new-pwd,
.repeat-pwd {
  width: 25%;
  text-align: right;

}

.pwd-edit-item {
  padding-left: calc(25% + 20px);
  margin-top: 20px;
  /* cursor: pointer; */
}

.pwd-hint {
  color: red;
  padding-left: calc(25% + 20px);
}

.list-right-body {
  display: none;
  margin-top: 50px;
  margin-left: 10px;
}

#edit-hint{
  color:#448899;
  margin-left: 10px;
  font-size: 14px;
  display: none;
}

/* 歷史清單開始 */

.member-middle {
  margin: 25px 5px 0 5px;

}

table,
td {
  border: 1px solid #666666;
}

table {
  margin: 0 auto;
}

thead {
  background-color: #448899;
  color: #fff;
}

.trip-order,
.trip-name,
.trip-date,
.trip-time,
.trip-created,
.trip-status {
  padding: 5px;
}








@media (max-width:1130px) {
  .navbar {
    width: 91.7%;
  }

  .container {
    width: 91.7%;
  }



}

@media (max-width: 600px) {}