html,
body {
  font-family: 'Noto Sans TC';
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #666666;
  height: 100%;
}


header {
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
  height: 54px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  margin: 0 auto;
  width: 1200px;

}

.top-title {
  font-weight: bold;
  font-size: 19px;
}

h2 {
  font-weight: bold;
  color: #448899;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  cursor: pointer;
}

.item-section {
  display: flex;
  align-items: center;
}

.item {
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
  padding: 10px;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-schedule {
  margin-top: 25px;
}

.thank-top {
  margin-top: 20px;
  white-space: pre-wrap;
  font-weight: bold;
}

.thank-middle,
.thank-bottom {
  margin-top: 20px;
}

.footer {
  width: 100%;
  height: 104px;
  background-color: #757575;
  margin: 0 auto;
  margin-top: 40px;
  color: #FFFFFF;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer-extend {
  background-color: #757575;
  width: 100%;
  position: absolute;
  left: 0;
  top: 325px;
  bottom: 0;
  right: 0;
  display: block;
}


.member-top {
  width: 1000px;
  margin-top: 46px;
}


/* member頁面開始 */
.member-middle {
  margin: 25px 5px 0 5px;
}

table,
td {
  border: 1px solid #666666;
}

thead {
  background-color: #448899;
  color: #fff;
}

.trip-order,
.trip-name,
.trip-date,
.trip-time,
.trip-created,
.trip-status {
  padding: 5px;
}


/* member頁面結束 */


@media (max-width:1220px) {
  .navbar {
    width: 91.7%;
  }

  .member-top {
    width: 91.7%;
  }

}

@media (max-width: 600px) {}