<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taipei trip 台北一日遊2.0</title>
  <link rel="stylesheet" href="/stylesheets/attraction.css">
  <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body class="body">

  <header>
    <nav class="navbar">
      <h2 onclick="window.location='/'">台北一日遊</h2>
      <div class="item-section">
        <div class="item" id="member-btn">會員中心</div>
        <div class="item" id="schedule-btn">預訂行程</div>
        <div class="item" id="login-logout">登入/註冊</div>
        <div class="bar-avatar"></div>
      </div>
    </nav>
  </header>
  <div class="popup">
    <div class=login-bar></div>
    <div class="form">
      <div class="login-title">登入會員帳號<button type="button" class="close-btn"><img src="/picture/close.png"></button>
      </div>
      <div class="form-element">
        <input type="email" id="login-email" placeholder="輸入電子信箱" value="test@gmail.com">
      </div>
      <div class="form-element">
        <input type="password" id="login-password" placeholder="輸入密碼" value="1234qwer">
      </div>
      <div class="form-element">
        <button id="login-btn" onclick="login()">登入帳戶</button>
      </div>
      <div id="login-fail" class="form-element"></div>
      <div class="form-element" style="text-align:center; display: flex;justify-content: center;margin-bottom: 10px;">
        <div>還沒有帳戶&ensp;?&ensp;</div>
        <div id="signup-btn" style="cursor:pointer" onclick="tosignup()">點此註冊</div>
      </div>
    </div>
  </div>
  <div class="signup">
    <div class=login-bar></div>
    <div class="form">
      <div class="login-title">註冊會員帳號<button type="button" class="close-btn"><img src="/picture/close.png"></button>
      </div>
      <div class="form-element">
        <input type="text" id="signup-name" placeholder="輸入姓名">
      </div>
      <div class="form-element">
        <input type="email" id="signup-email" placeholder="輸入電子郵件">
      </div>
      <div class="form-element">
        <input type="password" id="signup-password" placeholder="輸入密碼">
      </div>
      <div class="form-element">
        <button id="signupAccount-btn" onclick="signup()">註冊新帳戶</button>
      </div>
      <div id="signup-fail" class="form-element"></div>
      <div id="signup-success" class="form-element"></div>
      <div class="form-element" style="text-align:center; display: flex;justify-content: center;margin-bottom: 10px;">
        <div>已經有帳戶了&ensp;?&ensp;</div>
        <div id="login-btn" style="cursor:pointer" onclick="tologin()">點此登入</div>
      </div>
    </div>
  </div>
  <div class="attraction-middle">
    <div class="container-middle">
      <!-- carousel -->
      <div class="slides">
        <img class="left-button" src="/picture/leftArrow.png" onclick="leftShift()" alt="">
        <img class="right-button" src="/picture/rightArrow.png" onclick="rightShift()" alt="">

        <input type="radio" id="control-1" name="control" checked>

        <div class="slide" id="firstSlide"></div>
        <div class="controls-visible">
          <label for="control-1" class="control-button" id="firstButton"></label>
        </div>
      </div>
      <div class="booking">
        <div class="name"></div>
        <div class="cat-location"></div>
        <div class="schedule-booking">
          <div class="booking-title">訂購導覽行程</div>
          <div class="booking-description">以此景點為中心的一日行程，帶您探索城市角落故事</div>
          <div class="booking-date">選擇日期：
            <input type="date" id="trip-date" name="trip-start">
          </div>
          <div class="time-item">
            <div class="time">選擇時間：</div>
            <div class="morning-section">
              <div id="morning-button" class="clicked"></div>
              <div class="morning">上半天</div>
            </div>
            <div class="afternoon-section">
              <div id="afternoon-button"></div>
              <div class="afternoon">下半天</div>
            </div>
          </div>
          <div class="booking-fee-item">
            <div class="booking-fee">導覽費用：</div>
            <div class="fee">新台幣2000元</div>

          </div>
          <div id="booking-fail"></div>



          <button type="button" class="booking-button">開始預訂行程</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="attraction-below">
    <div class="container-below">
      <div class="description"></div>
      <div class="address-item">景點地址：</div>
      <div class="address"></div>
      <div class="transport-item">交通方式：</div>
      <div class="transportation"></div>
    </div>
  </div>
  <div class="footer">
    COPYRIGHT © 2023 台北一日遊
  </div>

  <script src="/javascripts/attraction.js"></script>
  <script src="/javascripts/header.js"></script>
</body>

</html>